{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Log In{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="row">
    <p class="col-sm-4">
        <br>
        New user?
        <a href="{{ url_for('auth.register') }}">
            Click here to register
        </a>
    </p>
</div>
<div class="row">
    <p class="col-sm-4">
        <a href="{{ url_for('auth.forgot_password') }}">
            Forgot your password?
        </a>
    </p>
</div>
{% endblock %}